@use "./variables.scss" as var;
@use "./mixins.scss" as mix;
@use "sass:math";

.about-title {
  margin: (var.$gutter-base * 5) 0;
  text-align: center;
  color: var.$background-color-quartertiary;
}
