@use "./variables.scss" as var;
@use "./mixins.scss" as mix;
@use "sass:math";

.mission-inner {
  .mission-inner-title {
    text-align: center;
    margin: var.$gutter-base;
  }

  .mission-inner-content {
    display: flex;
    align-items: center;
    gap: 30px;
    @extend %wrap;

    @include mix.tablet-styles {
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }
    .mission-inner-desc {
      padding: var.$gutter-base (var.$gutter-base * 1.2)
        math.div(var.$gutter-base, 2.5);
      flex-basis: 55%;
      background-color: var.$background-color-primary;

      color: var.$text-color-primary;

      p {
        font-size: 14px;
      }

      a {
        color: inherit;
        text-align: right;
        display: block;
      }
    }
    .mission-inner-img-container {
      flex-basis: 45%;

      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 60px;

    @include mix.mobile-l-styles {
      margin-bottom: 20px;
    }
  }
}
