@use "../styles/variables.scss" as var;
@use "../styles/mixins.scss" as mix;
@use "sass:math";

.missionCarousel  {
    width: 60% !important;
    height: 400px !important;
    padding-top: 100px;
    margin: 0px  auto ;
    padding-top:150px;
    
}
.carousel-indicators {
    display: none !important;
}

.carousel-indicators {
    display: none !important;
}

@include mix.tablet-styles {
    .missionCarousel  {
        max-width: 90% !important;
        // height: 400px !important;
        // padding-top: 100px;
        // margin: 0px  auto ;
        
    }
}