@use "./variables.scss" as var;
@use "./mixins.scss" as mix;
@use "sass:math";



.submitBtnStyles {
    background-color: var.$background-color-sextertiary;
    border: none;   
    font-size: var.$font-size-medium;
    font-weight: var.$font-weight-bold;
    margin-top: var.$gutter-base;
    color: var.$text-color-primary;
    padding: 15px 150px;
}