// Font settings
$font-family-base: 'Montserrat', sans-serif;

$font-size-xs: 11px;
$font-size-small: 12px;
$font-size-mdsm: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 30px;
$font-size-xl: 45px;

$font-size-placeholder: 13px;

$heading-size-small: 24px;
$heading-size-base: 36px;

$font-weight-light: 300;
$font-weight-lighter: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

// Size settings
$max-width-base: 80%;
$gutter-base: 30px;

// border settings
$border-width-base: 1px;
$border-radius-base: 4px;

// color settings
$text-color-primary: #E9E9EB;
$text-color-base: #000000;
$text-color-binary: #226CAF;
$text-color-input: #AAAAAA;
$text-color-textarea: #333333;  

// background color settings
$background-color-base: #E9E9EB;
$background-color-primary: #226CAF;
$background-color-tertiary: #20325A;
$background-color-quartertiary: #2B2B2B;
$background-color-quintertiary: #D83530;
$background-color-sextertiary: #B02A26;
$background-color-icon: #FFFFFF;

// Media queries breakpoints
$layout-breakpoint-small: 414px;
