@use '../variables.scss' as var;
@use '../mixins.scss' as mix;
@use 'sass:math';

.navbar-dark-text{
    color: var.$text-color-primary !important;
} 

.navbar-light-text {
    color: var.$text-color-base !important;
} 

.transparent {
    background-color: #ff000000 !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
